<div>
	<h3>{{vm.track.title}}</h3>

	<div ng-bind-html="vm.track.desc"></div>
	<hr>

	<h4>Missions</h4>
	<track-missions-tree missions='vm.missions' />
	<br><br><br><br>

	<table class='table'>
		<tr ng-repeat='mission in vm.missions'>
			<th width='3%'>
				<span class='glyphicon glyphicon-lock text-muted' />
			</th>
			<th width='30%'>
				<a ui-sref='play.tracks.track.mission({mid: mission._id})'>
					{{mission.title}}
				</a>
			</th>
			<td>
				<span class='glyphicon glyphicon-star-empty text-muted'
					ng-repeat='self in mission.stars.__items'
					title='{{self.title}}' />
			</td>
			<td>+ {{vm.mission.reward}} pts</td>
		</tr>
	</table>
</div>
