<div>
	<div class='panel panel-danger' ng-if='vm.missionStatus.status == "locked"'>
		<div class='panel-body'>
			<p class='lead text-danger'>Mission locked</p>
		</div>
	</div>
	<div ng-if='vm.missionStatus.status != "locked"'>
		<h3>{{vm.missionStatus.mission.title}}</h3>

		<table class='table'>
			<tr>
				<th>Status</th>
				<th>
					<span ng-if='vm.missionStatus.is_locked' class='glyphicon glyphicon-lock text-muted' />
					<span ng-if='vm.missionStatus.is_open' class='glyphicon glyphicon-remove text-warning' />
					<span ng-if='vm.missionStatus.is_success' class='glyphicon glyphicon-ok text-success' />
					{{vm.missionStatus.status}}
				</th>
				<th>+ {{vm.missionStatus.mission.reward}} pts</th>
			</tr>
			<tr ng-repeat='star in vm.missionStatus.mission.stars.__items'>
				<th width='15%'>
					<span class='glyphicon'
						ng-class="{ 'glyphicon-star-empty text-warning': !vm.statusByStar(star._id), 'glyphicon-star text-success': vm.statusByStar(star._id) }" />
				</th>
				<td width='15%'>{{star.reward}} pts</td>
				<td>{{star.title}}</td>
			</tr>
		</table>
		<div ng-bind-html="vm.missionStatus.mission.desc"></div>
		<mission-submit mission-id='vm.missionId' />
	</div>
</div>
